/Paper/build/
/.gradle/
/.idea/
/build/
/gradle/
/gradlew
/gradlew.bat
/common/build/
/common/src/main/kotlin/com/github/hoshikurama/ticketmanager/API_KEYS.kt
/src/
/Spigot/Spigot.iml
/Spigot/build/
/Spigot/KyoriAdventureBukkitAddition.jar
/Spigot/MiniMessageAddition.jar
/Paper/MiniMessageAddition.jar
/java_pid6568.hprof
/Velocity/MiniMessageAddition.jar
/Velocity/build/
