/Paper/build/
/.gradle/
/.idea/
/build/
/gradle/
/gradlew
/gradlew.bat
/common/build/
/common/src/main/kotlin/com/github/hoshikurama/ticketmanager/API_KEYS.kt
/src/
/Spigot/Spigot.iml
/Spigot/build/
/Spigot/KyoriAdventureBukkitAddition.jar
/Spigot/MiniMessageAddition.jar
/Paper/MiniMessageAddition.jar
/java_pid6568.hprof
/Velocity/MiniMessageAddition.jar
/Velocity/build/
/gradle.properties
/Velocity.iml
/Waterfall/build/
/Waterfall.iml
/Sponge/src/main/java/
/Spigot/src/main/java/
/core/build/
/VelocityBridge/build/
/Sponge/.gradle/
/Sponge/build/
/Paper/src/main/java/
/core/src/main/java/
/common/src/main/java/
/commonproxybridge/src/main/java/
/VelocityBridge/src/main/java/
/Waterfall/src/main/java/
