/.gradle/
/.idea/
/build/
/gradle/
/gradlew
/gradlew.bat
/src/
/gradle.properties
/common/src/main/java/
/common/build/
/Standalone/src/
/Standalone/commonSE/src/main/java/
/Standalone/Paper/src/main/java/
/Standalone/Spigot/src/main/java/
/Standalone/commonSE/build/
/Standalone/Paper/build/
/Standalone/Spigot/build/
/ProxyBridge/src/
/ProxyBridge/commonPDE/src/main/java/
/commonproxybridge/build/
/ProxyBridge/Velocity/src/main/java/
/ProxyBridge/Velocity/build/
/ProxyBridge/Waterfall/src/main/java/
/ProxyBridge/Waterfall/build/
/Standalone/Sponge/src/main/java/
/Standalone/Sponge/build/
/ProxyBridge/commonPDE/build/
/Standalone/Fabric/build/
/Standalone/Fabric/.gradle/
/Standalone/Fabric/